body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#todo-list {
    margin-top: 20px;
}

#todo-list div {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px;
}


#lists,#invites {
    margin-top: 20px;
}

#lists div,#invites div {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

